<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace = "fragments :: head"></head>

<body>

<nav th:replace = "fragments :: navigation"></nav>

<div class="container">

<h1 th:text = "${title}">Add Inventory</h1>

<form method = "post">
    <input type="text" name="inventoryName" />
    <input type="submit" value="Add Inventory" />
</form>



<!--<form method = "post" style="max-width:600px;" th:object="${inventory}">-->
    <!--<div class="form-group">-->
        <!--<label th:for="room">Room</label>-->
        <!--<input class = "form-control" th:field="*{room}"  />-->
        <!--<span th:errors="*{room}" class="error"></span>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label th:for="item">Item</label>-->
        <!--<input class = "form-control" th:field="*{item}"  />-->
        <!--<span th:errors="*{item}" class="error"></span>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label th:for="description">Description</label>-->
        <!--<input class = "form-control" th:field="*{description}" />-->
        <!--<span th:errors="*{description}" class="error"></span>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label th:for="model">Serial No.</label>-->
        <!--<input class = "form-control" th:field="*{model}" />-->
        <!--<span th:errors="*{model}" class="error"></span>-->
    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<label th:for="purchase">Purchased</label>-->
        <!--<input class = "form-control" th:field="*{purchase}" />-->
        <!--<span th:errors="*{purchase}" class="error"></span>-->
    <!--</div>-->
    <!--<input type="submit" value="Add Item" />-->
<!--</form>-->
</div>
</body>
</html>