<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace = "fragments :: head"></head>

<body>

<nav th:replace = "fragments :: navigation"></nav>

<div class="container">

<h1 th:text = "${title}">Add Inventory</h1>

<form method = "post" style="max-width:600px;" th:object="${inventory}">
    <div class = "form-group">
        <label th:for="room">Room</label>
        <input class="form-control" th:field="*{room}" />
        <span th:errors="*{room}" class="error"></span>
    </div>
    <div class = "form-group">
        <label th:for="item">Item</label>
        <input class="form-control" th:field="*{item}" />
        <span th:errors="*{item}" class="error"></span>
    </div>
    <div class = "form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="*{description}" />
        <span th:errors="*{description}" class="error"></span>
    </div>
    <div class = "form-group">
        <label th:for="model">Model</label>
        <input class="form-control" th:field="*{model}" />
        <span th:errors="*{model}" class="error"></span>
    </div>
    <div class = "form-group">
        <label th:for="purchaseDate">Purchase Date</label>
        <input class="form-control" th:field="*{purchaseDate}" />
        <span th:errors="*{purchaseDate}" class="error"></span>
    </div>
    <div class = "form-group">
        <label th:for="purchaseValue">Purchase Value</label>
        <input class="form-control" th:field="*{purchaseValue}" />
        <span th:errors="*{purchaseValue}" class="error"></span>
    </div>
    <div class = "form-group">
        <label th:for="currentValue">Current Value</label>
        <input class="form-control" th:field="*{currentValue}" />
        <span th:errors="*{currentValue}" class="error"></span>
    </div>

    <input type="submit" value="Add Inventory" />

</form>

</div>
</body>
</html>