<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: navigation"></nav>

<div class="container">

<h1 th:text = "${title}">Inventory</h1>


<p th:unless = "${inventories} and ${inventories.size()}">No Inventory</p>



<table class="table">

    <tr>
        <th>Room</th>
        <th>Items</th>
        <th>Description</th>
        <th>Model/I.D. No.</th>
        <th>Purchase Date</th>
        <th>Original Value</th>
        <th>Current Value</th>
    </tr>

    <tr th:each = "inventory : ${inventories}" >
        <td th:text = "${inventory.key}"></td>
        <td th:text = "${inventory.value}"></td>
    </tr>
</table>

    </div>

</body>
</html>
