<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="text-center">
<h1 th:text="${title}"> User Sign Up!</h1>

<hr />

<form method="post" class="form-signin" style="max-width:600px;" th:object="${user}">
    <div class="form-group">
        <label th:for="*{firstName}">Username:</label>
        <input th:field="*{firstName}" th:value="${user.firstName}"/>
        <span th:errors="*{firstName}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="*{lastName}">Username:</label>
        <input th:field="*{lastName}" th:value="${user.lastName}"/>
        <span th:errors="*{lastName}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="*{email}">Email:</label>
        <input type="email" th:field="*{email}" th:value="${user.email}" />
        <span th:errors="*{email}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="*{password}">Password:</label>
        <input type="password" th:field="*{password}" />
        <span th:errors="*{password}" class="error"></span>
    </div>
    <div class="form-group">
        <label>Verify:</label>
        <input type="password" name="verify" />
        <span th:text="${passwordError}" class="error"></span>
    </div>
    <div><input class="submit" type="submit" value="Add User!" /></div>
</form>

</body>
</html>